body {
  background-color: #00b7ff;
  color: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* TYPOGRAPHY */
h1 {
  color: white;
}

a {
  text-decoration: none;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

li {
  color: grey;
  line-height: 1.8em;
  list-style-type: none;
}

/* STRUCTURE */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  width: 40%;
}

#notes {
  font-size: 1.4em;
  padding: 0 2.2em 1em 2.2em;
}

/* FORMS */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  position: relative;
  padding: 0.8em;
  border: none;
  font-size: 1.2em;
  resize: none;
  margin-top: 1em;
}

button {
  background-color: grey;
  color: white;
  font-size: 1em;
  text-align: center;
  position: relative;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  padding: 10px 26px;
  margin: 2em 0 2.4em 0;
}
